/target
output.h265
output.mp4
/android-app/app/build
/android-app/.gradle
.gitignore
android-app/local.properties
android-app/app/my-release-key.jks
*.zip
*.svg
*.data
proj.zip
android-app/app/0my-release-key.jks0
